*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.input-bg{
  background-color: #f3f3f3;
}
h2 h3 h4{
  font-weight: 700;
}
button{
  font-weight: 400;
}
